body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App{
  display: flex;
  flex-direction: row;
  justify-content:center;
  width: 100%;
  gap:1em;
}
.country{
  display: flex;
  flex-direction:row;
  gap:2em;
  
}
img{width: 40px}
.country-list{
  display: flex;
  flex-direction:column;
  align-items:center;
  height:40em;
  overflow: auto;
}
.country-list::-webkit-scrollbar {
  width: 20px;
}

 .country-list::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
} 

 .country-list::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 5px solid transparent;
  background-clip: content-box;
  background-color: #8070d4;
} 

.count{
  border:2px solid ;
  width: 20em;
  border-radius: 5px;
  display: flex;
  justify-content:space-between;
  list-style: none;
  margin:3px;
  font-weight: bold;
  padding:1px;
}
.country-count{
 display: flex;
 flex-direction:column;
 align-items:center;
 width:auto;
 border-radius: 5px;
 margin-top:5em;
 height:28em;
 box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}
.count-flag{
  width:18em;
}
.country-flag{
  width:70%;
}

span{
  font-size:2em;
  font-weight:bold;
}